In [1]:
from sklearn import datasets
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
%matplotlib inline

In [2]:
def split_data(train_data,train_y,split_ratio):
    
    train_data['target'] = train_y
    if isinstance(split_ratio,int):
        test_size = split_ratio
    else:
        test_size = round(split_ratio * len(train_data))
    
    
    incides = train_data.index.tolist()
    test_indices = random.sample(population=incides,k=test_size)
    
    test = train_data.loc[test_indices]
    train = train_data.drop(test_indices)
    
    train_y = train['target']
    train_X = train.drop(['target'],axis=1)
    
    test_y = test['target']
    test_X = test.drop(['target'],axis=1)
    
    return train_X,train_y,test_X,test_y

In [3]:
def accuracy(prediction,actual):
    Accuracy= (prediction==actual)
    Accuracy = Accuracy.mean()
    
    return Accuracy

In [4]:
def RMSE(prediction,actual):
    
    actual = actual.values
    total_error = 0
    
    for i in range(len(prediction)):
        error = (prediction[i] - actual[i])**2
        total_error += error
    
    mean_error = total_error/len(prediction)
    rmse = mean_error ** (1/2)
    
    return rmse

In [6]:
golf = pd.read_csv('https://raw.githubusercontent.com/FRosner/spawncamping-dds/master/datasets/src/main/resources/de/frosner/dds/datasets/golf.csv')

In [7]:
def fit(train_data,train_y):
    train_data['target'] = train_y
    for column in train_data.columns:
        x = train_data[column].values
        for value in x:
            out= train_data[train_data[column]==value]
            classes ,class_count = np.unique(out['target'].values)

     Outlook  Temperature  Humidity   Wind Play
0      sunny           85        85  False   no
1      sunny           80        90   True   no
2   overcast           83        78  False  yes
3       rain           70        96  False  yes
4       rain           68        80  False  yes
5       rain           65        70   True   no
6   overcast           64        65   True  yes
7      sunny           72        95  False   no
8      sunny           69        70  False  yes
9       rain           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
13      rain           71        80   True   no

In [9]:

cross_table = pd.crosstab(golf.Outlook, golf.Play)
summary = cross_table.idxmax(axis=1)

In [14]:
cross_table

Play      no  yes
Outlook
overcast   0    4
rain       2    3
sunny      3    2

In [16]:
rules = {}
for column in golf.columns:
    cross_table = pd.crosstab(golf[column],golf['Play'])
    column_rule = cross_table.idxmax(axis=1)
    rules[column] = column_rule

In [17]:
rules

{'Outlook': Outlook
 overcast    yes
 rain        yes
 sunny        no
 dtype: object, 'Temperature': Temperature
 64    yes
 65     no
 68    yes
 69    yes
 70    yes
 71     no
 72     no
 75    yes
 80     no
 81    yes
 83    yes
 85     no
 dtype: object, 'Humidity': Humidity
 65    yes
 70    yes
 75    yes
 78    yes
 80    yes
 85     no
 90     no
 95     no
 96    yes
 dtype: object, 'Wind': Wind
 False    yes
 True      no
 dtype: object, 'Play': Play
 no      no
 yes    yes
 dtype: object}